<launch>

<rosparam file="$(find Hiwonder_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Hiwonder" args="Revolute 13_position_controller Revolute 19_position_controller Revolute 34_position_controller Revolute 35_position_controller Revolute 36_position_controller Slider 37_position_controller Slider 38_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Hiwonder/joint_states"/>
</node>

</launch>